* {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

.allButFooter{
  min-height: calc(100vh - 50px);
}

.socialBanner {
  background-color: rgb(235, 112, 112);
  text-align: center;
  padding: 5px;
}

.socialBanner > a {
  text-decoration: none;
}

#socialIcons {
  padding: 5px;
}

p {
  padding: 1em;
    color: black;
    margin: 1.5em;
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;

    }

.topnav a.active {
    background-color: #292525;
    color: white;   
  }
  .topnav a:hover {
    background-color: rgb(219, 219, 219);
    color: black;
  }

.pTitle {  
  margin-left: auto;
  margin-right: auto;
  padding: 2em;
  width: 70%;
  text-align: center;
  }

.topNav {
    background-color: rgb(216, 75, 75);
    overflow: hidden;
    text-align: center;
    display: block;
    padding: 0.2em;
    padding-top: .7em;
    padding-bottom: .7em;
  }

.topNav a {
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

.botNav {
  background-color: rgb(65, 64, 64);
  padding: 1em;
  text-decoration: none;
  color: #000000;
  text-align: center;
  overflow: hidden;  
  display:block;
}

.botNav a:hover {
  background-color: white;
  color: black;

  overflow: hidden; 
}

.botNav a {
  padding: 1em;
  text-decoration: none;
  color: #746f6f;  
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.ratings div {
  display: flex;
  gap: 10px;
  gap: 10px 20px;
  row-gap: 10px;
  column-gap: 20px;
  padding: 5px;
  border: black solid 1px;
  color: #000000;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  background-color: rgb(235, 112, 112);;
}

.ratings input[type="number"] {
  text-align: center;
  width: 100%;
  padding: 0.5em;
  border: none;
  color: black;
  background-color: rgb(235, 112, 112);
}

#average, .row label {
  text-align: center;
}
@media only screen and (min-width: 769px) {
  p, .pTitle{
    width: 40%;
  }
  .ratings div {
    width: 40%
  }
}
